*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	width: 100%;
	position: relative;
	padding-bottom: 10rem;
	min-height: 100%;
}
html{
	height: 100%;
}
.box,.section_box,.box-section,footer,.student{
	display: flex;
	justify-content: center;
	align-items: center;
}
.student section{
	position: relative;
	width: 1200px;
	max-width: 100%;
	height: auto;
	padding: 10px 20px;
}
header{
	width: 1200px;
	/*border: 1px solid black;*/
	max-width: 100%;
	
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title,.list,.option{
	width: 600px;
	/*border: 1px solid black;*/
	padding: 9px;
	max-width: 100%;
}
.select{
	width: 200px;
	max-width: 100%;
	height: auto;
	/*border: 1px solid black;*/
}
.select ul li{
	display: inline-block;
	list-style-type: none;
}
.select label{
	font-size: 17px;
	font-family: 'Noto Sans Display', sans-serif;
}
select{
	position: relative;
	width: 200px;
	max-width: 100%;
	font-size: 18px;
	padding: 8px 20px;
}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head img{
	width: 350px;
	vertical-align: middle;
}
.list,.option{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list ul li{
	display: inline-block;
	margin: 0px 18px;
}
.list ul li a{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 18px;
	background-color: #3a53a3;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: transparent;
	transition: 0.7s;
	text-transform: capitalize;
}
#home{
	color: white;
	background-color: #3a53a3;
}
.list ul li a:hover{
	color: white;
	background-color: #3a53a3;
	
}
.body{
	background-color: #f1f1f1;
}
.section_box{
	position: relative;
	top: 1rem;
}
.box-width{
	width: 1200px;
	/*border: 1px solid #e3dede;*/
	max-width: 100%;
	border-radius: 6px;
}
.box-width h3{
	display: flex;
	justify-content: flex-end;
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 30px;
	letter-spacing: 5px;
}




.footer{
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #e3dede;
	/*background-color: #DE45B0;*/
	width: 100%;
}
footer{
	line-height: 80px;
}
.foot{
	width: 1200px;
	max-width: 100%;
}
.privacy,.term-text{
	margin: 0px 15px;
}
.privacy ul li,.term-text ul li{
	list-style-type: none;
}
.privacy ul li a,.term-text ul li a,.all-right-reserve span{
	color: black;
	text-decoration: none;
	color: #625b5b;
	font-family: 'Poppins', sans-serif;
}
.text img{
	pointer-events: none;
	
}